[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group SEMC Legacy Maintainers
	label-Verified = -1..+1 group SEMC Legacy Maintainers
	submit = group SEMC Legacy Maintainers
	push = +force group SEMC Legacy Maintainers
[access "refs/for/refs/heads/*"]
	push = group SEMC Legacy Maintainers
	pushMerge = group SEMC Legacy Maintainers
